<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css"> 

</head>

<body>
    <main role="main" class="fluid-container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </main>

    <section id="home">
        <div class="container">
            <div class="row toptitle">
                <div class="col-md-offset-2 col-md-8">
                    <div class="homeContent">
                        <h1 class="shake-slow">DoorMate - A smart DND</h1>
                    </div>
                </div>
            </div>
        </div>
        <!---insert event form----->

        {% if not authenticated %}
            <a href="/google_auth_redirect">Log into Google</a>
        {% elif form %}
            <form action="/save_calendar/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% else %}
            <span>All set up! You can now start adding events to your calendars.</span>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" id="footer">
                    <p>Copyright 2020 Aitor , Jiaqi , Yuhao , Aji. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section>





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <!-----code paste end------>


</body>

</html>
